*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
   position: relative;
   width: 100%;
   max-width: 1000px;
   min-height: 1000px;
   margin: 50px;
   background: #fff;
   display: grid;
   grid-template-columns: 1fr 2fr;
   box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 15px;
   overflow: hidden;
}

.box .leftsidebar {
     position: relative;
     background-color: #10a8e6;
     padding: 40px;
}

.profile{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.name-box{
    background-color: #0f98d1;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.name-box h1{
    font-size: 22px;
    letter-spacing: 1px;
}

.name-box p{
    font-size: 18px;
    margin-top: 5px;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-itm{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.txt a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.txt a:hover{
    text-decoration: underline;
}

.icon{
    width: 35px;
    height: 35px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.txt{
    font-size: 17px;
    line-height: 1.3;
}

.divider{
    height: 2px;
    background-color: #cfd8dc;
    margin: 20px 0;
}

.skill-title{
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.skill-bar{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.progress{
    width: 100%;
    height: 6px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 50px;
    margin-top: 6px;
    overflow: hidden;
}

.progress-bar{
    height: 100%;
    background-color: white;
    border-radius: 50px;
}

.box .rightsidebar {
    position: relative;
    background-color: #f4f4f4;
    padding: 40px;
}

.section{
     margin-bottom: 40px;
     max-width: 650px;
}

.about{
    color: #0f98d1;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.about-txt{
    font-size: 17px;
    color: #000000;
    line-height: 1.5;
}

.edu{
    color: #0f98d1;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.edu-list{
    padding-left: 20px;
}

.edu-list li{
    margin-bottom: 12px;
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
}

.edu-list strong{
    font-size: 17px;
    color: #222;
}

.projects{
    color: #0f98d1;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.project-list{
    padding-left: 20px;
}


.project-list li{
    margin-bottom: 18px;
    font-size: 16px;
    color: #000000;
    line-height: 1.6;
}

.project-list strong{
    font-size: 17px;
    color: #222;
}