*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
   position: relative;
   width: 100%;
   max-width: 1000px;
   min-height: 1000px;
   margin: 50px;
   background: #fff;
   display: grid;
   grid-template-columns: 1fr 2fr;
   box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 15px;
   overflow: hidden;
}

.box .leftsidebar {
     position: relative;
     background-color: #10a8e6;
     padding: 40px;
}

.profile{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.namebox{
    background-color: #0f98d1;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.namebox h1{
    font-size: 22px;
    letter-spacing: 1px;
}

.namebox p{
    font-size: 14px;
    margin-top: 5px;
}

.box .rightsidebar {
     position: relative;
     background-color: #f4f4f4;
     padding: 40px;
}