:root{
  --accent: #10a8e6;
  --muted: #555;
  --line:#e7e8ef;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  font-size: 21px;
}

.bg{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: linear-gradient(135deg,#10a8e6,#6dd5fa);
}

.main-box{
  width: min(1100px, 100%);
  background: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.15);
}

.navbar{
  text-align: center;
  margin-bottom: 30px;
}

.navlinks{
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.navlinks a{
  text-decoration: none;
  color: #555;
  font-weight: 600;
  font-size: 18px;
}

.navlinks a:hover{
  color: #0f98d1;
}

#theme-btn{
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.intro{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 30px;
  align-items: center;
  margin-bottom: 40px;
}

.intro-left{
  padding-right: 30px;
}

.pill{
  display: inline-block;
  padding: 6px 12px;
  border-radius: 999px;
  background: #eaf7ff;
  color: var(--accent);
  font-size: 18px;
  font-weight: 800;
}

.intro-title{
  font-size: 42px;
  margin-top: 12px;
}

.accent{
  color: var(--accent);
}

.intro-sub{
  margin-top: 12px;
  color: var(--muted);
  line-height: 1.6;
}

.intro-right{
  display: flex;
  justify-content: center;
}

.img{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #eaf7ff;
}

.section{
  margin-top: 40px;
}

.section-title{
  font-size: 24px;
  margin-bottom: 15px;
  color: var(--accent);
}

.edu-list{
  padding-left: 20px;
}

.edu-list li{
  margin-bottom: 15px;
  color: var(--muted);
  line-height: 1.6;
}

.edu-list strong {
    color: #222;
    font-size: 20px;
}
.skills{
  max-width: 600px;
}

.skill{
  margin-bottom: 20px;
}

.skill-bar{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 6px;
}

.progress{
  width: 100%;
  height: 8px;
  background: #eaf7ff;
  border-radius: 50px;
  overflow: hidden;
}

.progress-fill{
  height: 100%;
  background: var(--accent);
  border-radius: 50px;
}

.skill span{
  font-size: 17px;
  font-weight: 600;
}

.progress-fill{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  padding-right: 5px;
  color: white;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card{
  background: white;
  border: 1px solid var(--line);
  padding: 20px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h3{
  font-size: 21px;
  margin-bottom: 8px;
}

.card p{
  font-size: 18px;
  color: var(--muted);
  margin-bottom: 10px;
}

.tech{
  font-size: 15px;
  font-weight: 600;
  color: var(--accent);
}

.cards .card:last-child{
  margin-bottom: 0;
}

.contact-info{
  margin-top: 10px;
  color: var(--muted);
  line-height: 1.8;
}

.contact-info strong{
  color: #222;
}

.footer{
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  color: var(--muted);
}

.dark-mode {
    color: white;
}

.dark-mode .bg {
    background: #f0a500;
}

.dark-mode .main-box {
  background-color: #242424;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
}

.dark-mode .navbar {
  background-color: #333;
  border-radius: 10%;
}

.dark-mode .navlinks a {
  color: white;
}

.dark-mode .navlinks a:hover {
  color: #f0a500;
}

.dark-mode .section-title {
  color: #f0a500;
}

.dark-mode .progress-fill {
  background: #f0a500;
}

.dark-mode .footer {
  color: #bbb;
}

.dark-mode #theme-btn {
  color: white;
}

.dark-mode .pill {
  background: #444;
  color: #fff;
}

.dark-mode .card h3 {
    color: #222;
}
 
.dark-mode .edu-list li strong,
.dark-mode .contact-info p strong {
  color: white;
}

.dark-mode .tech {
  color: #f0a500;
}

.dark-mode .edu-list li,
.dark-mode .intro-sub,
.dark-mode .contact-info {
    color: #c1cad0;
}

.dark-mode .progress-fill {
  background: #0f98d1; 
}

#scroll-top-btn{
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: var(--accent);
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

#scroll-top-btn:hover{
  background-color: #0f98d1;
  transform: translateY(-3px);
}